{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>


<body class="body">
    
    <header>
        <h1 id="title">大原日記</h1>
    </header>
    <a href="{% url 'create' %}" class="link">新規投稿</a>
    <ul style="list-style: none;">
        {% for article in articles %}
            <li id="nakami">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <small>{{ article.created_at }}</small>
                <br><br>
                <div class="contents">
                    <div class="yoko">
                        <a href="{% url 'edit' article.id %}" class="link_sub">編集</a>
                    </div>

                    <div class="yoko">
                        <a href="{% url 'delete' article.id %}" class="link_sub">削除</a>
                    </div>
                </div>
            </li>
            <br><br>
        {% endfor %}
    </ul>
</body>
</html>